button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: green;
  color: black;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

button:disabled {
  background-color: red;
  color: grey;
  font-weight: 400;
  opacity: 0.3;
}
